@model e_commerce.DAL.Tbl_Users
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Category</h1>
    <a href="@Url.Action("Index","Users")" class="d-sm-inline-block btn btn-sm btn-primary ">
        <i class="fas  text-white-50"></i> Back
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add New Category</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()
            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">First Name:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.firstname, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">Last Name:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.lastname, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">Email:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.email, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">Password:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.password, new { @class = "form-control", required = "required", @type = "password", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">Address:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.address, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label class="control-label" style="margin-top:5px;">Contact:</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.contact_info, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                    <input type="checkbox" data-toggle="toggle" data-offset="No" data-onSet="Yes" data-onStyle="success" data-offStyle="danger" />
                    @Html.ValidationMessageFor(model => model.contact_info, "", new { @class = "text-danger" })
                </div>

            </div>
            <a onclick="window.history.back()" class="btn btn-danger">Cancel</a>
            <input type="submit" class="btn btn-success" value="Save" />
        }

    </div>
</div>
