@model e_commerce.DAL.Tbl_ShippingDetails
@{
    ViewBag.Title = "ShippingDetails";
}

<div>
    @using (Html.BeginForm("ShippingDetails", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Adress, "Address")
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Adress, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.City, "City")
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ZipCode, "ZipCode")
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.State, "State")
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.State, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Country, "Country")
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="submit" value="Submit" class="btn">
    }
    </div>
